*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    text-align: center;
    background-color: rgba(231, 195, 32, 0.767);
    display: flex;
    justify-content: center;
 
}

.image{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    text-align: center;
    align-items: center;


}

img{
    border-radius: 15px;

}

.body{
    background-color: white;
    max-width: 330px;
    height: 510px;
    margin-top: 40px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 6px 6px 1px 1px black;   
}

.html{
    color: rgb(255, 174, 0);
    font-size: 18px;

}

.css{
    background-color: rgba(247, 208, 32, 0.582);
    width: 100px;
    margin-top: 18px;
    border-radius: 5px;
    
    font-size: 13px;
    font-weight: bolder;
    

}

.html1{
    margin-top: 13px;
    width: 120px;
    font-size: 10px;

}

.html{
    margin: 16px;
    width: 250px;
    margin-left: 0.1px;
    
}

.info{
    color:rgba(0, 0, 0, 0.356);
    font-size: 12px;
    margin-top: 15px;
    margin-left: 0.1px;
    text-align: left;


}

.image2{
    width:60px;
    margin-top: 20px;

    

}

.pic{
margin-bottom: 200px;
    

}
    




